.body{
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 0;
  }


.header-section{
    
    background-image: url(./assets/bg/e709b27bbda0155da5252a80704b546b.png) ;
    background-repeat: repeat;
    background-size: 120px;
    
    
}
.header-section::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(126, 4, 4, 1);
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0.85;
}
.navbar{
    position: sticky !important;
    top: -20% !important;
    z-index: 1000;
    transition: all 0.6s ease-in-out, position 0.6s ease-in-out;
}

.navbar-scrolled{
    background: #a13432 !important;
    top: 0 !important;
    
    
   

}


/* offcanvas navbar */

.offcanvas-body .nav-item .nav-link{
    color: white;
}

.offcanvas-body .nav-item .nav-link.active{
    color: #FEBF00;
}


/* offer card */

.card-title{
    background: linear-gradient(90deg, rgba(189, 31, 23, 0) 32.88%, rgba(189, 31, 23, 0.7) 100%);

}



/* Vector */

.our-service .icon-area{
    box-shadow: 2px 5px 5px 2px rgba(136, 136, 136, 0.3);
    border-radius: 50%;
   
}

/* button curve style */

.customButton {
    background-color: #febf00;
    color: white;
    position: relative;
    overflow: hidden;
    z-index: 40;

}

.btn:hover {
    background-color: #febf00;
    
}

.customButton .button_curve, .btn-outline .button_curve{
    position: absolute;
    right: -15px;
    top: 0;
    width: 33px;
    height: 100%;
    background: #f58a35;
    opacity: 0.8;
    z-index: -1;
    -webkit-transform: skewX(-22deg);
    transform: skewX(-22deg);
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.customButton:hover .button_curve, .btn-outline:hover .button_curve {
    right: 0;
    width: 100%;
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
}


/* service section */

/* .responsive-svg {
  width: 90px;
  height: auto;
} */

.our-service .background_image{
    
    
    position: absolute;
    overflow: hidden;
    right: -11%;
    width: 209px;
    height: 200px;
    top: 60%;
    
   
    
}
.our-service .background_image .img{
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    width: 100%;
    height: 100%;
    background: url(./assets/bg/c1aa9b555693793db0fb1c4f28b22547.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
    z-index: 100;

}

.nav-pills .nav-link.active {
  
  background-color: #ab2a1b !important;
}

.nav-pills .nav-link {
  border-radius: unset !important;
}






/* popular product */

.popular-product .background_image{
    position: absolute;
    overflow: hidden;
    left: -16%;
    width: 300px;
    height: 300px;
    top: 30%;
    transform: rotate(-60deg);
    
   
    
}
.popular-product .background_image .img{
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    width: 100%;
    height: 100%;
    background: url(./assets/bg/c1aa9b555693793db0fb1c4f28b22547.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
    z-index: 100;

}

.popular-product .list-style, .book-table-section .list-style, .customers-say .list-style{
    list-style-type: square;
    color: #a13432;
    font-size: large;
    font-weight: 600;
}


/* carousel nav */

 .popular-product .owl-carousel .owl-nav, .customers-say .owl-carousel .owl-nav {
    display: flex !important;
    position: absolute;
    top: -172px;
    font-size: 4rem;
    right: 0;
    gap: 4rem;
  }
 

  .owl-theme .owl-dots {
    display: none;
  }

  /* @media (max-width: 399.99px) { 

    .responsive-svg {
      position: absolute;
      top: 10px !important;
      left: 4px !important;
      width: 50px !important;
      height: auto;
    }
    .responsive-svg-small{
      position: absolute;
      top: -18px !important;
      left: -24px !important;
      width: 15px !important;
      height: auto;

    }
    
  
  } */

  @media (max-width: 767.99px) { 

   

    .popular-product .owl-carousel .owl-nav {
      bottom: 0;
      position: relative;
      top: unset;
     justify-content: center;
    
     
      
    }

    .customers-say .owl-carousel .owl-nav {
      position: relative;
      bottom: 0;
      top: unset;
     justify-content: center;
    }

    .popular-product .owl-carousel .owl-nav .owl-next::after, .customers-say .owl-carousel .owl-nav .owl-next::after {
      
      width: 30px !important;
      height: 30px !important;
    
      right: -80% !important;
      
    }
    .popular-product .owl-carousel .owl-nav .owl-prev::after, .customers-say .owl-carousel .owl-nav .owl-prev::after {
    
      width: 30px !important;
      height: 30px !important;
    
      left: -80% !important;
      
    }
    .popular-product .owl-carousel .owl-nav, .customers-say .owl-carousel .owl-nav {
    
      font-size: 2rem;
      
    }

    /* .popular-product .owl-carousel .owl-nav .owl-prev::after, .customers-say .owl-carousel .owl-nav .owl-prev::after {
      content: "";
      width: 30px;
      height: 30px;
      
     
      
    }
    .popular-product .owl-carousel .owl-nav .owl-next::after, .customers-say .owl-carousel .owl-nav .owl-next::after {
      content: "";
      width: 30px;
      height: 30px;
      
    
      
    } */

   }

  .popular-product .owl-carousel .owl-nav .owl-prev, .popular-product .owl-carousel .owl-nav .owl-next, .customers-say .owl-carousel .owl-nav .owl-prev, .customers-say .owl-carousel .owl-nav .owl-next{
    position: relative;
    color: #f58a35;
  }
  

  .popular-product .owl-carousel .owl-nav .owl-prev::after, .customers-say .owl-carousel .owl-nav .owl-prev::after {
    content: "";
    width: 50px;
    height: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: -50%;
    z-index: -1;
    
  }
  .popular-product .owl-carousel .owl-nav .owl-next::after, .customers-say .owl-carousel .owl-nav .owl-next::after {
    content: "";
    width: 50px;
    height: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    position: absolute;
    top: 30%;
    right: -50%;
    z-index: -1;
    
  }

  .owl-theme .owl-nav [class*="owl-"]:hover  {
    background: unset !important;
    
    
  }
  .owl-theme .owl-nav .owl-prev:hover::after, .owl-theme .owl-nav .owl-next:hover::after  {
    background: #a13432;
    cursor: pointer;
    
    
  }


  /* book table style */

  .book-table-section .bg-img{
    background: url("./assets/bg/f8e8eeffdc29691099a68fb261320bfa.jfif");
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

    width: 100%;
    height: 100%;
  }


  /* customers say */
  .customers-say .background_image{
    position: absolute;
    overflow: hidden;
    left: -8%;
    width: 209px;
    height: 200px;
    top: 30%;
    transform: rotate(-90deg); 
}
  .customers-say .background_image_right{
    position: absolute;
    overflow: hidden;
    right: -4%;
    width: 300px;
    height: 200px;
    bottom: 10%;
    transform: rotate(30deg); 
}
  .customers-say .background_image_right .img{
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    width: 100%;
    height: 100%;
    background: url(./assets/bg/9b917e102566625163272be6d10f8e7f.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
    z-index: 100;

}
  .customers-say .background_image .img{
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    width: 100%;
    height: 100%;
    background: url(./assets/bg/817344e5326be29f84754f858123edd4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
    z-index: 100;

}


  /* footer */
  .footer-area .bg-img{
    position: relative;
    background: url("./assets/bg/f909efb883f56845dcebe7cdc85a607c.jfif");
    background-position: top;
    background-size: cover;
    
    background-repeat: no-repeat;

    width: 100%;
    height: 100%;
    z-index: -2;
  }

  .footer-area .bg-img::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(8, 1, 1, 0.7);
    z-index: -1;
  }
